

<div class="workout">
  <div class="container">
    <h2><%= @workout.content %></h2>

    <p>WORDS WORDS WORDS WORDS WORDS</p>
    <%= link_to "Edit", edit_workout_path(@workout) %>

  </div>
</div>
