

<div class="legworkout">
  <div class="container">
    <h2>Leg Workout <%= @legworkout.id %></h2>
    <br>
    <p><%= @legworkout.content %></p>
    <br>
    <%= link_to "Edit", edit_legworkout_path(@legworkout) %>

  </div>
</div>
