<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- <link rel="shortcut icon" href="file:///Users/Steve/Downloads/favicon (1).ico"> -->
</head>

<!-- read.amazon.com -->
<h3 class = "text-center">Welcome to</h3>

<h1 class = "text-center">FITNESS TRACKER</h3>

<br>
<br>
<br>
<!-- <div class = "container"> -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
			<p>A minimalist shop for tracking weightlifting progress</p>
			<p>Please <a href="/login">log in <i class="fa fa-sign-in"></i></a> or <a href="/signup">sign up</a> to view your workouts!</p>
			<p>If you've signed in, go ahead and track your progress! </p>
			<form display = "inline" action="/pages/gymhome">
    			<input type="submit" value="Go to Workouts">
			</form>


			<br>
			<a href="/logout">Log out <i class="fa fa-sign-out"></i></a>
		</div>
		<div class="col-lg-6 col-md-6 text-center">
			<i class="fa fa-book fa-5x"></i>
		</div>
	</div>
</div>
