<% content_for :title do %>About<% end %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
			<h3>About the Application</h3>
			<p>
			This web application serves as an example of the type of project that can be made very quickly, with very little cost, using online resources.
			</p>
			<p>This particular app was created for Stephen Hemenway's Yale Senior Project (Fall 2015)</p>
		</div>
	</div>
</div>