<% content_for :title do %>About<% end %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
			<h3>Log a Workout</h3>

			<br>
			<form display = "inline" action="/chestworkout">
				<input type="submit" value="View and log Chest Workouts">
			</form>
			<br>
			<form display = "inline" action="/shoulderworkout">
				<input type="submit" value="View and log Shoulder Workouts">
			</form>
			<br>
			<form display = "inline" action="/backworkout">
				<input type="submit" value="View and log Back Workouts">
			</form>
			<br>
			<form display = "inline" action="/legworkout">
				<input type="submit" value="View and log Leg Workouts">
			</form>
			<br>
		</div>
	</div>
</div>