

<div class="chestworkout">
  <div class="container">
    <h2>Chest Workout <%= @chestworkout.id %></h2>
    <br>
    <p><%= @chestworkout.content %></p>
    <br>
    <%= link_to "Edit", edit_chestworkout_path(@chestworkout) %>

  </div>
</div>
