

<div class="shoulderworkout">
  <div class="container">
    <h2>Shoulder Workout <%= @shoulderworkout.id %></h2>
    <br>
    <p><%= @shoulderworkout.content %></p>
    <br>
    <%= link_to "Edit", edit_shoulderworkout_path(@shoulderworkout) %>

  </div>
</div>
