

<div class="backworkout">
  <div class="container">
    <h2>Back Workout <%= @backworkout.id %></h2>
    <br>
    <p><%= @backworkout.content %></p>
    <br>
    <%= link_to "Edit", edit_backworkout_path(@backworkout) %>

  </div>
</div>
